<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AdminMapper">

    <select id="adminLogin" resultType="com.qf.entity.Admin">
        select * from admin where `NAME`=#{NAME} and pwd=#{pwd}
    </select>

    <insert id="addAdmin" parameterType="com.qf.entity.Admin">
        insert into admin(`NAME`,pwd) value(#{NAME},#{pwd})
    </insert>




</mapper>