<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.CustomerMapper">

    <select id="customerLogin" resultType="com.qf.entity.Customer">
        select * from customer where `NAME`=#{NAME} and pwd=#{pwd}
    </select>

    <select id="findAllCustomer" resultType="com.qf.entity.Customer">
        select * from customer
    </select>

    <delete id="delCustomerById" parameterType="com.qf.entity.Customer">
        delete from customer where id=#{id}
    </delete>

    <insert id="addCustomer" parameterType="com.qf.entity.Customer">
        insert into customer(`NAME`,pwd,phone,email,address) value (#{NAME},#{pwd},#{phone},#{email},#{address})
    </insert>




</mapper>